<div class="p-d-flex p-jc-between p-ai-center p-mb-1">
  <h2 class="p-mr-auto">User Management</h2>
</div>

<div class="card" style="border: 2; border-color: black; border-radius: 1ch">
  <p-table
    #dt
    [value]="users"
    dataKey="_id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [scrollable]="true"
    scrollHeight="400px"
    [globalFilterFields]="[
      'name',
      'email',
      'EmployeeCode',
      'role',
      'dateOfBirth',
      'mobileNumber',
      'isActive'
    ]"
    styleClass=" p-datatable-gridlines p-datatable-sm custom-column-filter p-component"
  >
    <ng-template #caption>
      <div class="flex">
        <p-button
          pButton
          icon="pi pi-plus"
          class="p-button-text p-mr-2"
          (click)="openAddDialog()"
          label="Add User"
        />
        <p-iconfield iconPosition="left" class="ml-auto m-2">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            class="w-full"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th class="p-2">Name</th>
        <th class="p-2">Email</th>
        <th class="p-2">Code</th>
        <th class="p-2">Role</th>
        <th class="p-2">Mobile</th>
        <th class="p-2">DOB</th>
        <th class="p-2">Status</th>
        <th class="p-2">Actions</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="name"
            placeholder="Search by name"
            ariaLabel="Filter Name"
            showClearButton="false"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="email"
            placeholder="Search by email"
            ariaLabel="Filter Email"
            showClearButton="false"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="EmployeeCode"
            placeholder="Search by EC"
            ariaLabel="Filter EC"
            showClearButton="false"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="role"
            placeholder="Search by role"
            ariaLabel="Filter role"
            showClearButton="false"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="mobileNumber"
            placeholder="Search by MobileNumber"
            ariaLabel="Filter MobileNumber"
            showClearButton="false"
          ></p-columnFilter>
        </th>
        <th class="p-2"></th>
        <th class="p-2"></th>
        <th class="p-2"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td class="p-2">
          <img
            [src]="user?.profilePicture"
            *ngIf="user?.profilePicture"
            alt="userimage"
            class="user-image"
          />{{ user.name }}
        </td>
        <td class="p-2">{{ user.email }}</td>
        <td class="p-2">{{ user.EmployeeCode }}</td>
        <td class="p-2">{{ user.role }}</td>
        <td class="p-2">{{ user.mobileNumber }}</td>
        <td class="p-2">{{ user.dateOfBirth | date : "mediumDate" }}</td>
        <td class="p-2">
          <p-tag
            [value]="user.isActive ? 'Active' : 'Inactive'"
            [severity]="getSeverity(user.isActive)"
          />
        </td>
        <td class="p-2">
          <div class="flex gap-1">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-text p-0"
              pTooltip="Edit User"
              tooltipPosition="top"
              (click)="openEditDialog(user)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-text p-0"
              pTooltip="Delete User"
              tooltipPosition="top"
              (click)="openDeleteDialog(user)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="8" class="p-text-center">No users found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-edit-dialog
  [visible]="editDialogVisible"
  [dialogTitle]="'Edit User'"
  [fields]="userEditFields"
  [formData]="selectedUser"
  (visibleChange)="editDialogVisible = $event"
  (save)="updateUser($event)"
>
</app-edit-dialog>

<app-add-dialog
  [visible]="addDialogVisible"
  [dialogTitle]="'Add User'"
  [fields]="userAddFields"
  [useFormData]="true"
  (visibleChange)="addDialogVisible = $event"
  (save)="createUser($event)"
>
</app-add-dialog>

<app-delete-dialog
  [(visible)]="deleteDialogVisible"
  [dialogTitle]="'Delete User'"
  [message]="'Are you sure you want to delete this user?'"
  [description]="
    'This action cannot be undone. The user will lose all access to the system.'
  "
  (confirm)="confirmDelete()"
>
</app-delete-dialog>

<app-snackbar
  [(visible)]="snackbarVisible"
  [type]="snackbarConfig.type"
  [title]="snackbarConfig.title"
  [message]="snackbarConfig.message"
>
</app-snackbar>
