<div class="p-d-flex p-jc-between p-ai-center p-mb-1">
  <h2 p-mr-auto>Supplier Management</h2>
</div>
<div class="card">
  <p-table
    #dt
    [value]="suppliers"
    dataKey="_id"
    [rows]="10"
    [tableStyle]="{ 'min-width': '50rem' }"
    [size]="'small'"
    [expandedRowKeys]="expandedRows"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [size]="'small'"
    [globalFilterFields]="['name', 'phoneNumber', 'address']"
    [tableStyle]="{ 'min-width': '60rem' }"
    styleClass="p-datatable-gridlines p-datatable-sm"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
  >
    <ng-template #caption>
      <div class="flex">
        <p-button
          icon="pi pi-plus"
          class="p-button-text"
          (click)="openAddDialog()"
          label="Add Supplier"
        />
          <p-iconfield iconPosition="left" class="ml-auto"> 
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
            />
          </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="name">Supplier Name <p-sortIcon field="name" /></th>
        <th pSortableColumn="phoneNumber">Phone Number <p-sortIcon field="phoneNumber" /></th>
        <th pSortableColumn="address">Address <p-sortIcon field="address" /></th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template #body let-supplier let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="supplier"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.phoneNumber }}</td>
        <td>{{ supplier.address }}</td>
        <td>
          <div class="flex gap-1">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-text p-0"
              (click)="openEditDialog(supplier)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-text p-0"
              (click)="openDeleteDialog(supplier)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-supplier>
      <tr>
        <td></td>
        <td colspan="4">
          <p>Stock of {{ supplier.name }}</p>
          <div class="p-mr-4">
            <p-table
              [value]="supplier.product || []"
              dataKey="_id"
              styleClass="p-datatable-sm"
            >
              <ng-template #header>
                <tr>
                  <th>Sr No</th>
                  <th pSortableColumn="name">Product Name <p-sortIcon field="name" /></th>
                  <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <ng-template #body let-product let-rowIndex="rowIndex">
                <tr>
                  <td>{{ rowIndex + 1 }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.price | currency: 'INR' }}</td>
                </tr>
              </ng-template>
              <ng-template #emptymessage>
                <tr>
                  <td colspan="4">No products available for this supplier.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="5" class="p-text-center">No Suppliers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-edit-dialog
  [visible]="editDialogVisible"
  [dialogTitle]="'Edit Supplier'"
  [fields]="SupplierEditFields"
  [formData]="selectedSupplier"
  (visibleChange)="editDialogVisible = $event"
  (save)="updateSupplier($event)"
>
</app-edit-dialog>

<app-add-dialog
  [visible]="addDialogVisible"
  [dialogTitle]="'Add Supplier'"
  [fields]="SupplierAddFields"
  [useFormData]="false"
  (visibleChange)="addDialogVisible = $event"
  (save)="createSupplier($event)"
>
</app-add-dialog>



<app-delete-dialog
  [(visible)]="deleteDialogVisible"
  [dialogTitle]="'Delete Supplier'"
  [message]="'Are you sure you want to delete this supplier?'"
  [description]="
    'This action cannot be undone. The supplier will be permanently removed.'
  "
  (confirm)="confirmDelete()"
>
</app-delete-dialog>
<p-toast/>
<app-snackbar
  [(visible)]="snackbarVisible"
  [type]="snackbarConfig.type"
  [title]="snackbarConfig.title"
  [message]="snackbarConfig.message"
>
</app-snackbar>
