<div class="p-d-2 p-jc-between p-ai-center p-mb-1">
  <h2 class="p-mr-auto">Product Management</h2>
</div>
<div class="card">
  <p-table
    #dt
    [columns]="cols"
    [value]="products"
    dataKey="_id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [scrollable]="true"
    scrollHeight="430px"
    [globalFilterFields]="['name', 'description', 'categoryId', 'barcode']"
    styleClass="p-datatable-gridlines p-datatable-sm custom-column-filter p-component"
    selectionMode="multiple"
    [(selection)]="selectedProducts"
    [exportHeader]="'customExportHeader'"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between align-items-center p-2">
        <p-button
          icon="pi pi-plus"
          label="Add Product"
          class="p-button-text"
          (click)="openAddDialog()"
        />
        <p-iconfield iconPosition="left" class="ml-auto m-2">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
        <p-button
          icon="pi pi-external-link"
          label="Export"
          (click)="dt.exportCSV()"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="p-2">Name</th>
        <th class="p-2">Description</th>
        <th class="p-2">Category</th>
        <th class="p-2">Quantity</th>
        <th class="p-2">Price</th>
        <th class="p-2">Barcode</th>
        <th class="p-2">Volume</th>
        <th class="p-2">Unit</th>
        <th class="p-2">Visibility</th>
        <th class="p-2">Actions</th>
      </tr>
      <tr>
        <th class="p-2">
          <input
            pInputText
            type="text"
            #nameFilter
            (input)="dt.filter(nameFilter.value, 'name', 'contains')"
            placeholder="Search"
            class="p-column-filter w-12rem"
          />
        </th>
        <th class="p-2">
          <input
            pInputText
            type="text"
            #descriptionFilter
            (input)="
              dt.filter(descriptionFilter.value, 'description', 'contains')
            "
            placeholder="Search"
            class="p-column-filter w-12"
          />
        </th>
        <th class="p-2">
          <select
            pInputText
            #categoryFilter
            (change)="onCategoryChange($event)"
            class="p-column-filter w-full"
          >
            <option value="">All Categories</option>
            <option *ngIf="loadingCategories" disabled>
              Loading categories...
            </option>
            <option *ngFor="let category of categories" [value]="category._id">
              {{ category.name }}
            </option>
          </select>
        </th>
        <th class="p-2">
          <input
            pInputText
            type="text"
            #quantityFilter
            (input)="dt.filter(quantityFilter.value, 'quantity', 'contains')"
            placeholder="Search"
            class="p-column-filter w-full"
          />
        </th>
        <th class="p-2">
          <input
            pInputText
            type="text"
            #priceFilter
            (input)="dt.filter(priceFilter.value, 'price', 'contains')"
            placeholder="Search"
            class="p-column-filter w-full"
          />
        </th>
        <th class="p-2">
          <input
            pInputText
            type="text"
            #barcodeFilter
            (input)="dt.filter(barcodeFilter.value, 'barcode', 'contains')"
            placeholder="Search"
            class="p-column-filter w-full"
          />
        </th>
        <th class="p-2">
          <input
            pInputText
            type="text"
            #volumeFilter
            (input)="dt.filter(volumeFilter.value, 'volume', 'contains')"
            placeholder="Search"
            class="p-column-filter w-full"
          />
        </th>
        <th class="p-2">
          <input
            pInputText
            type="text"
            #unitFilter
            (input)="dt.filter(unitFilter.value, 'unit', 'contains')"
            placeholder="Search"
            class="p-column-filter w-full"
          />
        </th>
        <th class="p-2">
          <select
            pInputText
            #visibilityFilter
            (change)="
              visibilityFilter.value === 'All'
                ? dt.reset()
                : dt.filter(visibilityFilter.value, 'isVisible', 'equals')
            "
            class="p-column-filter"
          >
            <option [value]="">All</option>
            <option [value]="true">Visible</option>
            <option [value]="false">Hidden</option>
          </select>
        </th>
        <th class="p-2"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns" let-product>
      <tr [pSelectableRow]="rowData">
        <td class="p-2">{{ product.name }}</td>
        <td class="p-2">{{ product.description }}</td>
        <td class="p-2">{{ getCategoryName(product.categoryId) }}</td>

        <td>
          <p-badge
            [value]="product.quantity"
            [severity]="stockSeverity(product)"
          />
        </td>
        <td class="p-2">{{ product.price }}</td>
        <td class="p-2">{{ product.barcode }}</td>
        <td class="p-2">{{ product.volume }}</td>
        <td class="p-2">{{ product.unit }}</td>
        <td class="p-2">
          <p-tag
            [value]="product.isVisible ? 'Visible' : 'Hidden'"
            [severity]="getSeverity(product.isVisible)"
          />
        </td>
        <td class="p-2">
          <div class="flex gap-1">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-text p-0"
              pTooltip="Edit Product"
              tooltipPosition="top"
              (click)="openEditDialog(product)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-text p-0"
              pTooltip="Delete Product"
              tooltipPosition="top"
              (click)="openDeleteDialog(product)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="10" class="p-text-center">No products found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-edit-dialog
  [visible]="editDialogVisible"
  [dialogTitle]="'Edit Product'"
  [fields]="productEditFields"
  [formData]="selectedProduct"
  (visibleChange)="editDialogVisible = $event"
  (save)="updateProduct($event)"
>
</app-edit-dialog>

<app-add-dialog
  [visible]="addDialogVisible"
  [dialogTitle]="'Add Product'"
  [fields]="productAddFields"
  [useFormData]="false"
  (visibleChange)="addDialogVisible = $event"
  (save)="createProduct($event)"
>
</app-add-dialog>

<app-delete-dialog
  [(visible)]="deleteDialogVisible"
  [dialogTitle]="'Delete Product'"
  [message]="'Are you sure you want to delete this product?'"
  [description]="
    'This action cannot be undone. The product will be permanently removed.'
  "
  (confirm)="confirmDelete()"
>
</app-delete-dialog>
<p-toast />
<app-snackbar
  [(visible)]="snackbarVisible"
  [type]="snackbarConfig.type"
  [title]="snackbarConfig.title"
  [message]="snackbarConfig.message"
>
</app-snackbar>
