<div class="card">
  <div class="flex justify-content-between mb-3">
    <h2>Transactions</h2>
  </div>

  <p-table
    #dt
    [value]="bills"
    [columns]="visibleCols"
    [rows]="10"
    [paginator]="true"
    selectionMode="multiple"
    [(selection)]="selectedBills"
    dataKey="_id"
    [loading]="loading"
    [globalFilterFields]="['billNumber', 'cashierId.name', 'status']"
    styleClass="p-datatable-gridlines"
    (sortFunction)="customSort($event)"
    [customSort]="true"
  >
    <ng-template #caption>
      <div class="flex justify-content-between">
        <button
          pButton
          label="Clear"
          class="p-button-outlined"
          icon="pi pi-filter-slash"
          (click)="dt.clear(); clearFilters()"
        ></button>
        <div class="flex align-items-center ml-2">
          <p-datePicker
            [(ngModel)]="startDate"
            placeholder="Start Date"
            dateFormat="mm/dd/yy"
            [showIcon]="true"
            (onSelect)="applyDateFilter(dt)"
            class="mr-2"
          ></p-datePicker>
          <p-datePicker
            [(ngModel)]="endDate"
            placeholder="End Date"
            dateFormat="mm/dd/yy"
            [showIcon]="true"
            (onSelect)="applyDateFilter(dt)"
            class="mr-2"
          ></p-datePicker>
        </div>
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
        <button
          pButton
          label="Export"
          icon="pi pi-external-link"
          class="p-button ml-2"
          (click)="dt.exportCSV()"
        ></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of visibleCols" [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-bill let-rowIndex="rowIndex">
      <tr (click)="openViewDialog(bill)" style="cursor: pointer">
        <td *ngFor="let col of visibleCols">
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'billNumber'">
              {{ bill.billNumber }}
            </ng-container>
            <ng-container *ngSwitchCase="'cashierName'">
              {{ bill.cashierId?.name }}
            </ng-container>
            <ng-container *ngSwitchCase="'customerDetails.phone'">
              {{ bill.customerDetails?.phone || "Walk-in customer" }}
            </ng-container>
            <ng-container *ngSwitchCase="'totalAmount'">
              {{ formatCurrency(bill.totalAmount) }}
            </ng-container>
    <ng-container *ngSwitchCase="'status'">
              {{  bill.status || "Not available" }}
            </ng-container>
            <ng-container *ngSwitchCase="'createdAt'">
              {{ formatDate(bill.createdAt) }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ bills ? bills.length : 0 }} transactions.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Invoice"
  [(visible)]="viewDialogVisible"
  [modal]="true"
  [style]="{ width: '320px' }"
  [draggable]="false"
  [resizable]="false"
>
  <div
    id="invoice-content"
    style="font-family: 'Courier New', monospace; font-size: 12px"
  >
    <div style="text-align: center; margin-bottom: 5px">
      <strong>SuperMart Manager</strong><br />
      Near Swaminarayan Temple, v.v. Nagar<br />
      Tel: 010101010<br />
      Email: gmail.com<br />
    </div>

    <div style="text-align: center; margin-bottom: 10px">
      <strong>SALES INVOICE</strong>
    </div>
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 3px"
    >
      <span>INVOICE NO:</span
      ><span>{{ selectedBill?.billNumber || "N/A" }}</span>
    </div>
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 3px"
    >
      <span>CASHIER:</span><span>{{ selectedBill?.cashierId?.name }}</span>
    </div>
      <div
      style="display: flex; justify-content: space-between; margin-bottom: 3px"
    >
      <span>PAYMENT METHOD:</span
      ><span>{{ selectedBill?.paymentDetails?.method || "CASH" }}</span>
    </div>
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 3px"
    >
      <span>CUSTOMER PHONE:</span
      ><span>{{ selectedBill?.customerDetails?.phone || "N/A" }}</span>
    </div>
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 3px"
    >
      <span>DATE:</span
      ><span>{{ selectedBill?.createdAt | date : "mediumDate" }}</span>
    </div>
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 10px"
    >
      <span>TIME:</span
      ><span>{{ selectedBill?.updatedAt | date : "hh:mm:ss a" }}</span>
    </div>

    <table style="width: 100%; border-collapse: collapse; margin-bottom: 10px">
      <thead>
        <tr>
          <th
            style="
              text-align: left;
              padding-bottom: 5px;
              border-bottom: 1px dotted #000;
            "
          >
            ITEM
          </th>
          <th
            style="
              text-align: left;
              padding-bottom: 5px;
              border-bottom: 1px dotted #000;
            "
          >
            QTY
          </th>
          <th
            style="
              text-align: right;
              padding-bottom: 5px;
              border-bottom: 1px dotted #000;
            "
          >
            AMOUNT
          </th>
          <th
            style="
              text-align: right;
              padding-bottom: 5px;
              border-bottom: 1px dotted #000;
            "
          >
            Total
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of selectedBill?.items">
          <td style="padding: 2px 0">{{ item.productName }}</td>
          <td style="padding: 2px 0">{{ item.quantity }}</td>
          <td style="text-align: right; padding: 2px 0">
            {{ item.unitPrice }}
          </td>
          <td style="text-align: right; padding: 2px 0">{{ item.subtotal }}</td>
        </tr>
      </tbody>
    </table>
    <hr style="border: none; border-top: 1px dotted #000" />
    <div style="text-align: right; margin-bottom: 5px">
      <strong
        >TOTAL: Rs.{{
          (selectedBill?.subtotal ?? 0.0).toFixed(2) || "0.00"
        }}</strong
      >
    </div>
    <div style="text-align: right; margin-bottom: 5px">
      <strong>TOTAL TAX: Rs.{{ (selectedBill?.tax ?? 0.0).toFixed(2) }}</strong>
    </div>
    <div style="text-align: right; margin-bottom: 5px">
      <strong
        >DISCOUNT: RS.{{
          (selectedBill?.totalDiscount ?? 0.0).toFixed(2) || "0.00"
        }}</strong
      >
    </div>
    <div style="text-align: right; margin-bottom: 5px">
      <strong
        >PAID: Rs.{{
          (selectedBill?.totalAmount ?? 0.0).toFixed(2) || "0.00"
        }}</strong
      >
    </div>
    <hr style="border: none; border-top: 1px dotted #000" />
    <div style="text-align: center; margin-top: 5px">
      <strong>YOU SAVE {{ selectedBill?.totalDiscount }}</strong>
    </div>
    <div style="text-align: center; margin-bottom: 10px">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs_1ej4k8SoUMiphbvoonwlzqgEpdpM4CohA&s"
        alt="QR Code"
        style="width: 80px; height: 80px"
      />
    </div>
    <div style="text-align: center; margin-top: 5px">
      <strong>Thank you for shopping with us</strong>
    </div>
    <div style="text-align: center">
      Copyright © {{currentYear}} SuperMart Manager
    </div>
  </div>
</p-dialog>

<ng-template pTemplate="footer">
  <button
    pButton
    pRipple
    label="Close"
    icon="pi pi-times"
    class="p-button-text"
    (click)="viewDialogVisible = false"
  ></button>
</ng-template>
