<div class="dashboard-container">
  <div class="grid">
    <div class="card" *ngFor="let stat of stats" @cardAnimation>
      <div class="card-header">
        <div class="card-text">
          <span class="card-title">{{ stat.title }}</span>
          <div class="card-value">{{ stat.value }}</div>
        </div>
        <div class="card-icon" [style.color]="stat.iconColor">
          <i class="pi {{ stat.icon }}"></i>
        </div>
      </div>
      <div class="card-footer">
        <span class="positive-change">{{ stat.change }} </span>
        <span class="change-text">{{ stat.changeText }}</span>
      </div>
    </div>
  </div>

  <div class="content-row">
    <div class="charts-column">
      <div class="chart-card">
        <h3 class="chart-title">Sales Distribution</h3>
        <div class="filter-buttons">
          <p-button
            label="Week"
            [outlined]="selectedPeriod !== 'week'"
            (click)="changePeriod('week')"
            styleClass="p-button-sm p-button-secondary mr-2"
          ></p-button>
          <p-button
            label="Month"
            [outlined]="selectedPeriod !== 'month'"
            (click)="changePeriod('month')"
            styleClass="p-button-sm p-button-secondary mr-2"
          ></p-button>
          <p-button
            label="Year"
            [outlined]="selectedPeriod !== 'year'"
            (click)="changePeriod('year')"
            styleClass="p-button-sm p-button-secondary"
          ></p-button>
        </div>
        <div class="chart-container">
          <p-chart
            type="bar"
            [data]="data1"
            [options]="options"
            style="width: 100%; height: 100%; margin-top: 3px; padding-top: 5px"
          >
          </p-chart>
        </div>
      </div>

      <div class="chart-card">
        <h3 class="chart-title">Last 7 days Sale</h3>
        <div class="chart-container">
          <p-chart
            type="doughnut"
            [data]="data2"
            [options]="doughnutOptions"
            style="width: 100%; height: 100%"
          >
          </p-chart>
        </div>
      </div>
    </div>

    <!-- Transactions column -->
    <div class="transactions-column">
      <div class="table-card">
        <h3 class="table-title">Recent Transactions</h3>
        <div class="table-wrapper">
          <p-table
            [value]="recentTransaction"
            [tableStyle]="{ 'min-width': '100%' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Bill ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Cashier</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
              <tr>
                <td>{{ transaction.billNumber }}</td>
                <td>{{ transaction.createdAt | date : "shortDate" }}</td>
                <td>{{ transaction.totalAmount | currency : "INR" }}</td>
                <td>{{ transaction.cashierId.name }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="category-distribution mt-5">
        <h3 class="chart-title">By Category Sales In percentage</h3>
        <div class="filter-buttons">
          <p-button
            label="Week"
            [outlined]="selectedPeriodOfCategory !== 'week'"
            (click)="changePeriodOfCategory('week')"
            styleClass="p-button-sm p-button-secondary mr-2"
          ></p-button>
          <p-button
            label="Month"
            [outlined]="selectedPeriodOfCategory !== 'month'"
            (click)="changePeriodOfCategory('month')"
            styleClass="p-button-sm p-button-secondary mr-2"
          ></p-button>
          <p-button
            label="Year"
            [outlined]="selectedPeriodOfCategory !== 'year'"
            (click)="changePeriodOfCategory('year')"
            styleClass="p-button-sm p-button-secondary"
          ></p-button>
        </div>

        <div class="percentage-bar">
          <div
            *ngFor="let category of salesByCategory"
            [style.width]="category.percentage + '%'"
            [style.backgroundColor]="category.color"
            class="bar-segment"
          ></div>
        </div>

        <div class="category-list">
          <div
            *ngFor="let category of displayedCategories"
            class="category-item"
          >
            <span
              class="category-color"
              [style.backgroundColor]="category.color"
            ></span>
            <span class="category-name"
              >{{ category.category }} ({{ category.percentage }}%)</span
            >
            <span class="category-sales">{{
              category.sales | currency : "INR"
            }}</span>
          </div>
        </div>

        <button
          pButton
          [label]="showAll ? 'Show Less' : 'Show All'"
          class="p-button-text"
          (click)="showAllCategories()"
        ></button>
      </div>
    </div>
  </div>
</div>
