<div class="dashboard-container">
    <div class="grid">
        <div class="card" *ngFor="let stat of stats">
            <div class="card-header">
                <div class="card-text">
                    <span class="card-title">{{stat.title}}</span>
                    <div class="card-value">{{stat.value}}</div>
                </div>
                <div class="card-icon" [style.color]="stat.iconColor">
                    <i class="pi {{stat.icon}}"></i>
                </div>
            </div>
            <div class="card-footer">
                <span class="positive-change">{{stat.change}} </span>
                <span class="change-text">{{stat.changeText}}</span>
            </div>
        </div>
    </div>
</div>
